<header [class.login-header]="pageType === 'login'">
  <h1 [routerLink]="['/product']">
    <app-icon [size]="'24'" [iconName]="'facebook'"></app-icon>
    Shop
  </h1>

  <ul *ngIf="pageType === 'home'">
    <li routerLinkActive="router-link-active">
      <a [routerLink]="['/cart']">購物車</a>
    </li>
    <li>
      <ng-container [ngSwitch]="logined">
        <a *ngSwitchCase="false" [routerLink]="['/login']">登入</a>
        <a *ngSwitchCase="true" (click)="logout()">登出</a>
      </ng-container>
    </li>
  </ul>
</header>
