input[type="checkbox"] {
  @apply invisible w-[24px] h-[24px] align-text-bottom;
  cursor: pointer;
}

input[type="checkbox"]::after {
  @apply visible w-full h-full rounded border-[3px] border-[theme(colors.gray.100)] inline-block;
  content: " ";
  background-color: transparent;
}

input[type="checkbox"]:checked::after {
  @apply flex justify-center items-center bg-[theme(colors.yellow.500)] border-[theme(colors.yellow.500)];
  content: "∨";
  font-weight: bold;
}
